.section3 {
  padding-bottom: 120px;
  font-family: "Arial";
  background: url(../../assets/images/section3/section3-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main3 {
  display: block;
  padding-top: 120px;
  text-align: center;
}

.main3__top{
  text-align: center;
  .title{
    display: inline-block;
    color: #393939;
  }
  .description{
    display: inline-block;
    max-width: 850px;
    color: #883213;
  }
}

.description__link{
  color: #393939;
  &:hover{
    text-decoration: none;
    color: white;
  }
}

.main3__bottom{
  display: inline-block;
}

.main3__bottom-list-text{
  @include malina;
  font-size: 32px;
  color: #393939;
}

.main3__bottom-list{
  @extend %clearfix;
}

.main3__bottom-list_margin-bottom{
  .main3__bottom-list-item{
    margin-bottom: 0;
  }
}

.main3__bottom-list-item{
  float: left;
  max-width: 230px;
  margin-right: 60px;
  margin-bottom: 50px;
  &:last-child{
    margin-right: 0;
  }
  .description{
    margin-bottom: 0;
    font-size: 14px;
    color: #ab594a;
  }
}

.main3__bottom-pic{
  position: relative;
  width: 230px;
  height: 240px;
  max-width: 100%;
}

.main3__bottom-img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}