.section2{
  @extend %clearfix;
  font-family: "Arial";
  background: rgba(200,200,201,1);
  background: linear-gradient(to right, rgba(200,200,201,1) 0%, rgba(230,231,231,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c9', endColorstr='#e6e7e7', GradientType=1 );
}

.main2{
  @extend %clearfix;
  position: relative;
}

.main2__left{
  float: left;
  padding-top: 115px;
  padding-bottom: 120px;
  .title{
    color: $blue;
    max-width: 440px;
  }
  .description{
    color: $grey;
    max-width: 430px;
  }
}

.main2__left-list{
  @extend %clearfix;
  max-width: 550px;
}

.main2__left-list-item{
  float: left;
  margin-right: 35px;
  margin-bottom: 20px;
  &:last-child{
    margin-right: 0;
  }
}

.main2__left-list-pic{
  position: relative;
  width: 120px;
  height: 100px;
  margin-bottom: 25px;
}

.main2__left-list-shape{
  display: block;
  position: absolute;
  bottom: -5px;
  left: -15px;
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.main2__left-list-img{
  display: block;
  position: absolute;
  bottom: 17px;
  left: -3px;
  width: 90px;
  object-fit: contain;
}

.main2__left-list-txt{
  @include malina;
  max-width: 140px;
  font-size: 16px;
  color: $grey;
}

.main2__right{
  position: relative;
}

.main2__right-pic{
  position: absolute;
  right:0;
  bottom: 50%;
  left:711px;
  width: 384px;
  height: 710px;
}

.main2__right-pic-img{
  display: block;
  max-width: 100%;
  max-height: 100%;
}