//----------------------<<common>>----------------------\\
.container{
  @extend %clearfix;
}

.section1{
	padding-bottom: 30px;
	font-family: "Arial";
	color: white;
	background: rgba(201,49,54,1);
	background: linear-gradient(to right, rgba(201,49,54,1) 0%, rgba(162,22,27,1) 91%, rgba(162,22,27,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c93136', endColorstr='#a2161b', GradientType=1 );
}

//----------------------<<header>>----------------------\\
.header{
	@extend %clearfix;
	padding-top: 25px;
	margin-bottom: 100px;
}

.logo{
	@extend %clearfix;
	float: left;
	padding-right: 110px;
}

.logo__pic{
	float: left;
	width: 81px;
	height: 67px;
}

.logo__pic-img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.logo__txt{
	@include malina;
	float: left;
	padding: 9px 0 9px 20px;
	font-size: 35px;
	color: $yellow;
}

.nav{
	float: left;
}

.nav__list{
	@extend %clearfix;
	display: block;
	padding: 22px 0;
}

.nav__list-item{
	display: block;
	position: relative;
	float: left;
	padding-right: 65px;
	font-size: 16px;
	letter-spacing: 2px;
	&:last-child{
		padding-right: 0;
	}
}

.nav__list-item-team-link{
	display: block;
	position: relative;
	text-decoration: none;
	color: white;
}

.fa-angle-down{
	font-size: 10px;
	transition: opacity .5s;
}

.fa-angle-up{
	position: absolute;
	top: 7px;
	left: 86px;
	font-size: 10px;
	opacity: 0;
	transition: opacity .5s;
}

//----------------------<<team-dropdown>>----------------------\\
.nav__list-item_a{
	cursor: pointer;
	&:hover{
		.fa-angle-down{
			opacity: 0;
		}
		.fa-angle-up{
			opacity: 1;
		}
		.nav__list-item-team-link{
			color: $yellow;
		}
		.nav__list-item-team-dropdown{
			left: 50%;
			opacity: 1;
		}
	}
}

.nav__list-item-team-dropdown{
	position: absolute;
	top: 60px;
	left: -9999px;
	z-index: 1000;
	width: 280px;
	padding: 45px 50px;
	margin-left: -140px;
	background-color: rgba(white, .92);
	border-radius: 25px;
	text-align: left;
	opacity: 0;
	transition: opacity .5s;
	&:before{
		position: absolute;
		display: block;
		top: -60px;
		right: 0;
		left: 0;
		height: 70px;
		content:"";
	}
}

.nav__list-item-team-dropdown-item{
	display: inline-block;
	padding: 25px 0;
	margin-top: -25px;
	font-size: 16px;
	letter-spacing: 0;
	color: $grey;
	&:last-child{
		padding-bottom: 0;
	}
	&:before{
		position: absolute;
		display: inline-block;
		right: 97%;
		width: 9px;
		height: 18px;
		content: "";
		background-image: url(../../assets/images/section1/ico/yellow-arrow.png);
		opacity: 0;
	}
	&:hover{
		font-weight: bold;
		color: black;
		&:before{
			opacity: 1;
		}
	}
}

.triangle{
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: 40px;
	height: 13px;
	margin-left: -20px;
	background-image: url("../../assets/images/section1/ico/arrow.png");
}

//----------------------<<header-menu>>----------------------\\
.menu{
	@extend %clearfix;
	float: right;
	padding: 12px 0;
}

.menu__profile, .menu__search{
	display: block;
	float: left;
	width: 42px;
	height: 42px;
	text-decoration: none;
}

.menu__profile-img, .menu__search-img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.menu__profile{
	position: relative;
	margin-right: 20px;
	&:hover{
		.menu__profile-img-a{
			opacity: 1;
		}
	}
}

.menu__search{
	position: relative;
	&:hover{
		.menu__search-img-a{
			opacity: 1;
		}
	}
}

.menu__profile-img-a{
	position: absolute;
	top: 0px;
	opacity: 0;
	transition: opacity .5s;
}

.menu__search-img-a{
	position: absolute;
	top: 0px;
	opacity: 0;
	transition: opacity .5s;
}

//----------------------<<main>>----------------------\\
.main1{
	@extend %clearfix;
	position: relative;
	cursor: pointer;
}

.main1__left{
	@extend %clearfix;
	position: relative;
	float: left;
	z-index: 1;
	width: 190px;
	text-align: center;
	z-index: 1000;
}

.main1__left-ingredients{
	position: relative;
	padding-top: 60px;
	margin-bottom: 200px;
	&:hover{
		.main1__left-ingredients-img-a{
			opacity: 1;
		}
		.main1__left-ingredients-dropdown{
			left: 90%;
			opacity: 1;
		}
	}
}

.main1__left-ingredients-link{
	position: relative;
	display: block;
	text-decoration: none;
	color: white;
}

.main1__left-ingredients-pic{
	display: inline-block;
	width: 42px;
	height: 42px;
}

.main1__left-ingredients-img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.main1__left-ingredients-img-a{
	position: absolute;
	top: 0px;
	left: 74px;
	opacity: 0;
	transition: opacity .5s;
}

.main1__left-ingredients-txt{
	padding-top: 15px;
	font-size: 15px;
}

//----------------------<<ingredients-dropdown>>----------------------\\
.main1__left-ingredients-dropdown{
	position: absolute;
	top: 0;
	left: -9999px;
	z-index: 1000;
	min-width: 370px;
	padding: 40px 30px;
	margin-left: 0;
	background-color: rgba(white, .92);
	border-radius: 25px;
	cursor: pointer;
	opacity: 0;
	transition: opacity .5s;
	&:before{
		display: block;
		position: absolute;
		top: 0;
		right: 330px;
		left: -110px;
		height: 275px;
		content:"";
		cursor: pointer;
	}
	.triangle{
		top: 75px;
		bottom: 100%;
		left: -26px;
		margin-left: 0;
		transform: rotate(-90deg);
	}
}

.main1__left-ingredients-dropdown-item{
	padding: 20px 0;
	margin-top: -20px;
	text-align: left;
	font-size: 16px;
	color: $grey;
	&:last-child{
		padding-bottom: 0;
	}
}

.ingredients-sprite-wrap{
	@include inline-block(middle);
	width: 26px;
	margin-right: 25px;
	text-align: center;
}

.ingredients-text{
	@include inline-block(middle);
	min-width: 200px;
}

.ingredients-weight{
	@include inline-block(middle);
	min-width: 50px;
}

//----------------------<<main>>----------------------\\
.main1__left-exptime{
	.description{
		color: rgba(white, .28);
		margin: 0;
	}
}

.value{
	@include malina;
	margin: 0;
}

.main1__middle{
	@extend %clearfix;
	position: relative;
	float: left;
	z-index: 1;
}

.main1__middle-pic{
	width: 471px;
	height: 420px;
	text-align: center;
}

.main1__middle-img{
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}

.main1__right{
	position: relative;
	float: right;
	z-index: 1;
	width: 400px;
	.title{
		max-width: 300px;
	}
	.description{
		max-width: 400px;
	}
}

.title{
	@include malina;
	margin-bottom: 30px;
	font-size: 62px;
	line-height: 1.2;
}

.description{
	margin-bottom: 30px;
	font-size: 15px;
	line-height: 21px;
}

.main1__right-order{
	@extend %clearfix;
	.title{
		@include inline-block;
		float: left;
		margin-right: 50px;
		margin-bottom: 0;
	}
}

.main1__right-order-link{
	float: left;
	padding: 20px 0;
}

.main1__right-order-button{
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	background-color: $yellow;
	border: 1px solid $yellow;
	border-radius: 25px;
	color: $red;
	cursor: pointer;
	outline: 0;
	transition: all .5s;
	&:hover{
		background-color: $brown;
		border-color: $brown;
		color: $yellow;
	}
}

.main1__cover{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	&:before{
		display: inline-block;
		width: 0;
		height: 100%;
		content: "";
		vertical-align: middle;
	}
}

.main1__cover-txt{
	@include malina;
	display: inline-block;
	vertical-align: middle;
	font-size: 150px;
	color: rgba(white, .1);
}

//----------------------<<bxSlider>>----------------------\\
.bx-wrapper{
	box-shadow: none;
	border: 0;
	background: none;
}

.bx-wrapper img{
	display: inline-block;
}

.bx-next, .bx-prev{
	display: none;
}

.bx-wrapper .bx-pager.bx-default-pager a{
	width: 8px;
	height: 8px;
	margin: 0 15px;
	background-color: white;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    background: white !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: $yellow !important;
}



