.section4 {
  font-family: Arial;
  background: rgba(252,251,251,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(252,251,251,1) 0%, rgba(252,251,251,1) 21%, rgba(205,204,205,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(252,251,251,1)), color-stop(21%, rgba(252,251,251,1)), color-stop(100%, rgba(205,204,205,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(252,251,251,1) 0%, rgba(252,251,251,1) 21%, rgba(205,204,205,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(252,251,251,1) 0%, rgba(252,251,251,1) 21%, rgba(205,204,205,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(252,251,251,1) 0%, rgba(252,251,251,1) 21%, rgba(205,204,205,1) 100%);
  background: radial-gradient(ellipse at center, rgba(252,251,251,1) 0%, rgba(252,251,251,1) 21%, rgba(205,204,205,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbfb', endColorstr='#cdcccd', GradientType=1 );
}

.main4__top {
  @extend %clearfix;
  padding-top: 85px;
  padding-bottom: 150px;
  .title {
    color: $blue;
    max-width: 320px;
  }
  .description {
    position: relative;
    color: $grey;
    font-style: italic;
  }
}

.tab-bar {
  margin-bottom: 100px;
}

.tab-bar-main-title {
  float: left;
  margin-right: 80px;
}

.tab-bar__list {
  @extend %clearfix;
}

.tab-bar__list-item {
  position: relative;
  float: left;
  padding: 25px 30px;
  border-radius: 25px;
  transition: background-color .3s;
  .title {
    font-size: 30px;
    max-width: 145px;
    margin-bottom: 15px;
  }
  .triangle{
    transition: opacity .3s;
    width: 34px;
    height: 10px;
    background-image: url("../../assets/images/section4/tab-arrow.png");
    bottom: 0;
    top: 100%;
    margin-left: -17px;
    opacity: 0;
  }
}

.tab-bar__list-item-description {
  color: $grey;
  letter-spacing: 1px;
}

.description__tab-list {
  @extend %clearfix;
  .active-d {
    display: block;
  }
}

.description__tab-item {
  @extend %clearfix;
  display: none;
}

.main4__description-left {
  float: left;
  max-width: 275px;
}

.main4__description-left-txt {
  margin-bottom: 25px;
}

.main4__description-bold {
  font-weight: bold;
}

.quote-pic {
  position: absolute;
  bottom: 410px;
  left: 340px;
}

.quote-img {
  display: block;
  width: 100%;
  height: 100%;
}

.main4__description-right {
  float: right;
  max-width: 330px;
}

.main4__description-right-p1 {
  margin-bottom: 25px;
}

//form
.main4__bottom {
  text-align: center;
  padding-bottom: 120px;
}

.form {
  @extend %clearfix;
  position: relative;
  display: inline-block;
  width: 845px;
  background-image: url(../../assets/images/section4/form-bg.gif);
  border-radius: 20px;
}

.cook-pic{
  position: absolute;
  bottom: 100%;
  width: 527px;
  height: 613px;
  left: 45%;
  margin-left: -263.5px;
}

.cook-img{
  display: block;
  width: 100%;
  height: 100%;
}

.form__left {
  width: 50%;
  text-align: center;
  float: left;
  .title {
    margin: 0;
    padding: 110px 0;
    width: 100%;
    color: white;
    -webkit-text-stroke: 2px black;
  }
}

.form__right {
  position: relative;
  float: right;
  width: 50%;
  padding: 65px 45px;
  background-color: rgba(black, .7);
  border-radius: 0 20px 20px 0;
}

::placeholder {
  color: white;
  opacity: 1;
}

.input {
  display: block;
  margin-bottom: 25px;
  outline: 0;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  padding: 15px 20px;
  width: 280px;
  background: none;
}

.label {
  position: relative;
  display: block;
  text-align: left;
  cursor: pointer;
}

.checkbox[type=checkbox] {
  display: none;
  outline: 0;
  cursor: pointer;
}

.hotcall-txt {
  color: white;
  padding-left: 20px;
  &:after {
    content: '';
    display: block;
    height: 14px;
    width: 13px;
    background-image: url(../../assets/images/section4/empty-checkbox.png);
    position: absolute;
    top: 2px;
    left: 1px;
  }
}

.checkbox[type=checkbox]:checked + .hotcall-txt {
  &:after {
    width: 13px;
    height: 14px;
    background-image: url(../../assets/images/section4/checked-checkbox.png);
  }
}

.submit-btn {
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  right: -40px;
  display: block;
  width: 96px;
  height: 96px;
  border: 0;
  outline: 0;
  padding: 0;
  background: none;
  background-image: url(../../assets/images/section4/submit-btn.png);
  &:hover {
    background-image: url(../../assets/images/section4/submit-btn-hover.png);
  }
}

//js
.tab-bar__link {
  display: block;
  cursor: pointer;
}

.active {
  background-color: $brown;
  border-radius: 25px;
  .title {
    color: $yellow;
  }
  .tab-bar__list-item-description {
    color: white;
  }
  .triangle {
    opacity: 1;
  }
}