.section3 {
  font-family: "Arial";
  background: rgba(255,167,43,1);
  background: url("../../assets/images/section3/section3-pattern.png"), linear-gradient(to right, rgba(255,167,43,1) 0%, rgba(255,183,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa72b', endColorstr='#ffb701', GradientType=1 );
}

.main3 {
  text-align: center;
}

.main3__top{
  text-align: center;
  padding-top: 110px;
  .title{
    display: inline-block;
    color: #393939;
  }
  .description{
    display: inline-block;
    max-width: 790px;
    color: #883213;
  }
}

.description__link{
  color: #393939;
  &:hover{
    color: white;
    text-decoration: none;
  }
}

.main3__bottom{
  display: inline-block;
  padding-bottom: 90px;
}

.main3__bottom-list-text{
  @include malina;
  font-size: 32px;
  color: #393939;
}

.main3__bottom-list{
  @extend %clearfix;
}

.main3__bottom-list_margin-bottom{
  .main3__bottom-list-item{
    margin-bottom: 0;
  }
}

.main3__bottom-list-item{
  float: left;
  max-width: 230px;
  margin-right: 60px;
  margin-bottom: 50px;
  &:last-child{
    margin-right: 0;
  }
  .description{
    font-size: 14px;
    color: #ab594a;
    margin-bottom: 0;
  }
}

.main3__bottom-pic{
  position: relative;
  width: 200px;
  height: 240px;
}

.main3__bottom-img-shape{
  position: absolute;
  display: block;
  object-fit: contain;
  width: 180px;
  height: 180px;
  bottom: 30px;
  left: 25px;
}

.main3__bottom-img{
  position: absolute;
  display: block;
  object-fit: contain;
  width: 180px;
  bottom: 43px;
  left: 25px;
}