.section4 {
  font-family: Arial;
  padding: 120px 0;
  background: rgba(252,251,251,1);
  background: radial-gradient(ellipse at center, rgba(252,251,251,1) 0%, rgba(252,251,251,1) 21%, rgba(205,204,205,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbfb', endColorstr='#cdcccd', GradientType=1 );
  p{
    margin: 0;
  }
}

.main4__top {
  @extend %clearfix;
  .description {
    position: relative;
    font-style: italic;
    color: $grey;
  }
}

.tab-bar {
  margin-bottom: 100px;
  .title {
    max-width: 320px;
    color: $blue;
  }
}

.tab-bar-main-title {
  float: left;
  margin-right: 80px;
}

.tab-bar__list{
  .active {
    background-color: $brown;
    border-radius: 25px;
    .title {
      color: $yellow;
    }
    .tab-bar__list-item-description {
      color: white;
    }
    .triangle {
      opacity: 1;
    }
  }
}

.tab-bar__list-item {
  display: inline-block;
  position: relative;
  border-radius: 25px;
  transition: background-color .3s;
  .title {
    max-width: 145px;
    margin-bottom: 15px;
    font-size: 30px;
    transition: color .3s;
  }
  .triangle{
    top: 100%;
    bottom: 0;
    width: 34px;
    height: 10px;
    margin-left: -17px;
    background-image: url('../../assets/images/section4/tab-arrow.png');
    opacity: 0;
    transition: opacity .3s;
  }
  &:hover {
    border-radius: 25px;
    background-color: $brown;
    .title {
      color: $yellow;
    }
    .tab-bar__list-item-description {
      color: white;
    }
    .triangle {
      opacity: 1;
    }
  }
}

.tab-bar__link {
  display: block;
  padding: 25px 30px;
  cursor: pointer;
}

.tab-bar__list-item-description {
  letter-spacing: 1px;
  color: $grey;
  transition: color .3s;
}

.description__tab-list {
  @extend %clearfix;
  min-height: 600px;
  .active {
    display: block;
  }
}

.description__tab-item {
  @extend %clearfix;
  display: none;
  p{
    margin-bottom: 25px;
  }
}

.main4__description-left {
  float: left;
  max-width: 275px;
}

.quote-pic {
  position: absolute;
  bottom: 580px;
  left: 310px;
}

.quote-img {
  display: block;
  width: 100%;
  height: 100%;
}

.main4__description-right {
  float: right;
  max-width: 330px;
}

//----------------------<<form>>----------------------\\
.main4__bottom {
  text-align: center;
}

.form {
  @extend %clearfix;
  display: inline-block;
  position: relative;
  width: 845px;
  border-radius: 20px;
  background-image: url('../../assets/images/section4/form-bg.gif');
}

::placeholder{
  color: white;
  opacity: 1;
}

.cook-pic{
  position: absolute;
  bottom: 100%;
  left: 45%;
  width: 527px;
  height: 613px;
  margin-left: -263.5px;
}

.cook-img{
  display: block;
  width: 100%;
  height: 100%;
}

.form__left {
  float: left;
  width: 50%;
  text-align: center;
  .title {
    width: 100%;
    padding: 110px 0;
    margin: 0;
    color: white;
    -webkit-text-stroke: 2px black;
  }
}

.form__right {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  padding: 65px 45px;
  border-radius: 0 20px 20px 0;
  background-color: rgba(black, .7);
}

.input {
  display: block;
  width: 280px;
  padding: 15px 20px;
  margin-bottom: 25px;
  outline: 0;
  border: none;
  border-bottom: 2px solid white;
  background: none;
  color: white;
}

.label {
  display: block;
  position: relative;
  text-align: left;
  cursor: pointer;
}

.checkbox[type=checkbox] {
  display: none;
  outline: 0;
  cursor: pointer;
}

.hotcall-txt {
  color: white;
  padding-left: 20px;
  &:after {
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    width: 13px;
    height: 14px;
    content: '';
    background-image: url('../../assets/images/section4/empty-checkbox.png');
  }
}

.checkbox[type=checkbox]:checked + .hotcall-txt {
  &:after {
    width: 13px;
    height: 14px;
    background-image: url('../../assets/images/section4/checked-checkbox.png');
  }
}

.submit-btn {
  position: absolute;
  display: block;
  bottom: -40px;
  right: -40px;
  width: 96px;
  height: 96px;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  background-image: url('../../assets/images/section4/submit-btn.png');
  cursor: pointer;
  &:hover {
    background-image: url('../../assets/images/section4/submit-btn-hover.png');
  }
}