//vars
$yellow: #fca211;
$red: #a4151c;
$brown: #893213;
$grey: #575757;
$blue: #2b2f5f;

//layout
@import "_misc/fonts.scss";
@import "_misc/mixins.scss";
@import "_misc/normalize.scss";
@import "_misc/adjustment.scss";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/fa-solid.scss";
@import "fontawesome/fa-brands.scss";
@import "sprites/ingredients-sprite.scss";

//styles
@import "sections/section1.scss";
@import "sections/footer.scss";
@import "sections/section2.scss";
@import "sections/section3.scss";
@import "sections/section4.scss";
@import "sections/section5.scss";